<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default signin-panel">
            <div class="panel-heading">Sign in</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-warning" *ngIf="errorMessage"><i class="fa fa-warning"></i> {{errorMessage}}</div>
                        <form autocomplete="off" (ngSubmit)="handleSubmit(loginForm)" #loginForm="ngForm" novalidate>
                            <div class="form-group" [ngClass]="{'has-success': email.valid, 'has-error': email.invalid && submitted}">
                                <label class="control-label" for="email">Email</label>
                                <input required class="form-control" placeholder="Please enter your email address" type="text" name="email" [ngModel]="signInModel.email" #email="ngModel"/>
                            </div>
                            <div class="form-group" [ngClass]="{'has-success': password.valid, 'has-error': password.invalid && submitted}">
                                <label class="control-label" for="password">Password</label>
                                <input required class="form-control" placeholder="Please enter your password" type="password" name="password" [ngModel]="signInModel.password" #password="ngModel"/>
                            </div>
                            <div class="center-block">
                                <span><a [routerLink]="['/reset-password']">I forgot my password</a></span>
                                <button type="submit" [disabled]="isLoading" class="btn btn-primary pull-right">
                                    <span *ngIf="isLoading"><i class="fa fa-spin fa-spinner"></i></span>
                                    Sign in
                                    </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                        <div class="text-center">
                            or sign in with
                        </div>
                    </div>
                    <app-social-login (successLogin)="handleSuccessLogin()"></app-social-login>
                </div>
            </div>
        </div>
    </div>
</div>
