<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default margin-with-nav">
                <div class="panel-heading">Reset password</div>
                <div class="panel-body">
                    <div class="row" *ngIf="afterReset">
                        <div class="col-md-12">
                            We have sent your password reset link to {{email}}.
                        Please check it out. Thank you.
                        </div>
                    </div>
                    <div class="row" *ngIf="!afterReset">
                        <div class="col-md-12">
                            <div class="alert alert-warning" *ngIf="errorMessage"><i class="fa fa-warning"></i> {{errorMessage}}</div>
                             <p>
                                We can help you to recover your password, please fill the following information
                            </p>
                            <form (ngSubmit)="handleSubmit(resetPasswordForm)" autocomplete="off" novalidate #resetPasswordForm="ngForm">
                                <div class="form-group" [ngClass]="{'has-success': emailInput.valid, 'has-error': emailInput.invalid && submitted}">
                                    <label class="control-label" for="email">Email</label>
                                    <input class="form-control" placeholder="Your registered email" type="text" name="email" id="email" [ngModel]="email" required #emailInput="ngModel">
                                </div>
                                <div class="text-right">
                                    <button [disabled]="isLoading" type="submit" class="btn btn-primary">
                                        <span *ngIf="isLoading"><i class="fa fa-spin fa-spinner"></i></span>
                                        Send
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>