@font-face {
  font-family: 'Lato';
  src: url('./assets/font/Lato/Lato-Regular.ttf');
}

:root {
  --mainColor: gray;
}

body {
    background-color: var(--mainColor);
    font-family: Lato;
}

.center-fix {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-spinner {
    font-size: 3em;
}
