@font-face {
  font-family: 'Lato';
  src: url('./assets/font/Lato/Lato-Regular.ttf');
}

body {
    font-family: Lato;
    width: 100%;
    height: 100%;
}

.center-fix {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-spinner {
    font-size: 3em;
}

.margin-top {
    margin-top: 20px;
}